<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body style="background-color: wheat;">
    

    <div class ="content" style=" border: 1px solid black; background-color: rgb(202, 175, 124); ">
        <h1 style="text-align:center">Calculator</h1>

        <div class="form">
            <form action="/math" method="POST">   <!-- this action will call /math from app.py and method is POST-->
                <label for="operation">Choose a Mathmatical Operation</label>

<select id="operation" name="operation">
    <option value="add">add</option>
    <option value="subtract">subtract</option>
    <option value="multiply">multiply</option>
    <option value="divide">divide</option>
    

</select>

            <input type="text" placeholder="enter num1" name="num1" id="num1">
            <input type="text" placeholder="enter num2" name="num2" id="num2">
            <input type="submit" value="Calculate">
            </form>
        </div>
    </div>
</body>
</html>